/* MUSIC */

.m-box {
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
  box-sizing: border-box;

  /* Set width for c-box */
  width: 100px; /* Set this to your desired width */
  padding: 10px;
}

.m-image-container {
  width: 100%; /* Takes the full width of the .c-box */
  padding-top: 100%; /* Maintains the square ratio by setting height relative to width */
  position: relative; /* Allows the image to position inside */
}

.m-image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Set the image to take the full width of the container */
  height: 100%; /* Maintain square ratio */
  object-fit: cover; /* Ensure the image covers the square without distortion */
  border-radius: 1em; /* Optional: match the rounded corners of .c-box */
}

/* SOUND EFFECTS */
.se-title {
  margin: 1em;
}

.se-box {
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
  box-sizing: border-box;

  /* Set width for c-box */
  width: 100px; /* Set this to your desired width */
  padding: 10px;
}

.se-image-container {
  width: 100%; /* Takes the full width of the .c-box */
  padding-top: 100%; /* Maintains the square ratio by setting height relative to width */
  position: relative; /* Allows the image to position inside */
}

.se-image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Set the image to take the full width of the container */
  height: 100%; /* Maintain square ratio */
  object-fit: cover; /* Ensure the image covers the square without distortion */
  border-radius: 1em; /* Optional: match the rounded corners of .c-box */
}

.se-box {
  position: relative; /* Allows .image-label to be positioned relative to this box */
}

.image-label {
  z-index: 1;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  border: 1px solid;
  width: 15px;
  height: 24px;
  border-radius: 1em;
  text-align: center;
  background-color: rgba(
    255,
    255,
    255,
    0.318
  ); /* Optional: add background for readability */
  position: absolute; /* Position it absolutely */
  top: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
}

/*  */
p {
  margin: 0;
}
